.header__lang {
  display: inline-block;
  height: 53%;
  margin: 18px 18px 0 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (max-width: 321px) {
  .header__lang {
    font-size: 18px;
    line-height: 111%;
  }
}
