.place__link {
  padding-bottom: 2px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration: underline;
  transition: .5s ease-in-out;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .place__link {
    padding: 0 16px;
  }
}
